//
   Created for DevOps course on 21/11/2016.

doctype html
html(lang='en')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        // Meta, title, CSS, favicons, etc.
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title DevOps - Node.js
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    body
        .row
            .col-md-4.col-md-offset-4
                h1 Welcome !
                br
                span #{todoList}
                br
                form(data-parsley-validate='', method='get', action='/new', name='login_form')
                    label (Re)Initialize the Todo List :
                    button.btn.btn-primary(type='submit') Create
                br
                form(data-parsley-validate='', method='post', action='/add', name='login_form')
                    label Add things to do (String) :
                    input(name='things', type='text')
                    button.btn.btn-success(type='submit') Add things
                br
                form(data-parsley-validate='', method='post', action='/delete', name='login_form')
                    label Delete things (Number) :
                    input(name='_id', type='number')
                    button.btn.btn-danger(type='submit') Delete things
                br
                form(data-parsley-validate='', method='post', action='/get', name='login_form')
                    label Get things (Number) :
                    input(name='_id', type='number')
                    button.btn.btn-info(type='submit') Get things


        script (href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')